.favorite-page {
  color: #19a672;
  text-align: center;
  font-size: 20px;
  margin: 30px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &_item {
    color: black;
    list-style: none;
  }
}
h2 {
  color: #19a672;
  text-align: center;
  font-size: 30px;
}
